$theme--badge__background-color: red;
$theme--badge__color: white;

.badge {
    background-color: $theme--badge__background-color;
    border: 1px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    color: $theme--badge__color;
    display: flex;
    flex-wrap: wrap;
    font-family: $----font-family--secondary;
    font-size: 0.75rem;
    font-weight: bold;
    height: 20px;
    padding: 2px 6px;
    position: absolute;
    text-align: center;
    top: -14px;
    user-select: none;
    width: auto;
    transform: matrix(1, 0, 0, 1, 10, 0);
    transform-origin: 10px 0px;
    
    &--empty-variant {
        border-radius: 50%;
        height: 10px;
        padding: 5px;
        right: 0;
        top: 0;
        transform: matrix(1, 0, 0, 1, 10, -10);
        transform-origin: 10px 0px;
        width: 10px;
    }

    &:hover {
        border: 1px solid $theme--badge__background-color;
        transition: border .25s ease-in-out;
    }
}

.badge-container:has(.badge) {
    position: relative;
}