$theme--avatar__size--small: 48px;
$theme--avatar__size--medium: 64px;
$theme--avatar__size--large: 80px;

.avatar {
    position: relative;
}

.avatar--small {
    max-width: $theme--avatar__size--small;

    .avatar__image {
        max-width: $theme--avatar__size--small;
    }

    .avatar__username {
        font-size: 24px;
    }
}

.avatar--medium {
    max-width: $theme--avatar__size--medium;

    .avatar__image {
        max-width: $theme--avatar__size--medium;
    }

    .avatar__username {
        font-size: 32px;
    }
}

.avatar--large {
    max-width: $theme--avatar__size--large;

    .avatar__image {
        max-width: $theme--avatar__size--large;
    }

    .avatar__username {
        font-size: 32px;
    }
}

.avatar--image-variant:hover {

    .avatar__image {
        filter: contrast(0.25);
        box-shadow: 0px 0px 3px black;
        border: 1px solid black;
    }

    .avatar__username {
        opacity: 1;
        transition: opacity 0.25s ease-in-out;
    }   
}

.avatar__image {
    border: 1px solid transparent;
    border-radius: 50%;
    box-shadow: 0px 0px 3px transparent;
    transition: box-shadow 0.25s ease-in-out, border-color 0.25s ease-in-out, filter 0.25s ease-in-out;
}

.avatar__username {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: normal;
    font-family: $----font-family--secondary;
    user-select: none;
    pointer-events: none;
}