// * =========================================================================
// * GLOBAL - DEFAULT MIXINS - CONTAINERS
// * =========================================================================

@mixin ----container {
    
}

// * =========================================================================
// * GLOBAL - DEFAULT MIXINS - HEADINGS
// * =========================================================================

@mixin ----heading($__size__) {
    font-family: $----font-family--primary;
    font-size: $__size__;
    font-weight: bold;
    line-height: $__size__;
}

// * =========================================================================
// * GLOBAL - DEFAULT MIXINS - BREAKPOINTS
// * =========================================================================

@mixin ----breakpoint-small {
    @media (min-width: #{$----breakpoint-small}) {
        @content;
    }
}

@mixin ----breakpoint-small--below {
    @media (max-width: #{$----breakpoint-small}) {
        @content;
    }
}

@mixin ----breakpoint-medium {
    @media (min-width: #{$----breakpoint-medium}) {
        @content;
    }
}

@mixin ----breakpoint-medium--below {
    @media (max-width: #{$----breakpoint-medium}) {
        @content;
    }
}

@mixin ----breakpoint-large {
    @media (min-width: #{$----breakpoint-large}) {
        @content;
    }
}

@mixin ----breakpoint-large--below {
    @media (max-width: #{$----breakpoint-large}) {
        @content;
    }
}

@mixin ----breakpoint-x-large {
    @media (min-width: #{$----breakpoint-x-large}) {
        @content;
    }
}

@mixin ----breakpoint-x-large--below {
    @media (max-width: #{$----breakpoint-x-large}) {
        @content;
    }
}

@mixin ----breakpoint-xx-large {
    @media (min-width: #{$----breakpoint-xx-large}) {
        @content;
    }
}

@mixin ----breakpoint-xx-large--below {
    @media (max-width: #{$----breakpoint-xx-large}) {
        @content;
    }
}

// * =========================================================================
// * GLOBAL - ELEMENT MIXINS - HEADINGS
// * =========================================================================

@mixin --h1 {
    @include ----heading($----font-size--h1);
}

@mixin --h2 {
    @include ----heading($----font-size--h2);
}

@mixin --h3 {
    @include ----heading($----font-size--h3);
}

@mixin --h4 {
    @include ----heading($----font-size--h4);
}

@mixin --h5 {
    @include ----heading($----font-size--h5);
}

@mixin --h6 {
    @include ----heading($----font-size--h6);
}

// * =========================================================================
// * GLOBAL - ELEMENT MIXINS - TEXT
// * =========================================================================

@mixin --p {
    font-family: $----font-family--primary;
    font-size: $----font-size--root;
    font-weight: normal;
    line-height: $----font-size--root;
}