.kitchen-sink__page {
    max-width: $----breakpoint-xx-large;
    margin: auto;
}

.kitchen-sink__header {
    margin-bottom: 16px;
}

.kitchen-sink__page-heading {
    font-family: $----font-family--primary;
    font-size: $----font-size--h1;
    margin-block-end: 0;
    font-weight: bold;
    text-align: center;
}

.kitchen-sink__paragraph {
    text-indent: 1em;
}

.kitchen-sink__wrapper--colors {
    column-gap: 8px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    max-height: 324px;
    max-width: $----breakpoint-xx-large;
    overflow-y: auto;
    row-gap: 8px;
    width: auto;

    @include ----breakpoint-large--below {
        grid-template-columns: repeat(2, 1fr);
    }

    @include ----breakpoint-medium--below {
        grid-template-columns: repeat(1, 1fr);
    }
}

.kitchen-sink__color-container {
    border: 1px solid black;
    display: grid;
    grid-template-columns: auto min-content;
    padding: 8px;
}

.kitchen-sink__color-label {
    font-family: $----font-family--secondary;
    font-size: 16px;
    font-weight: bold;
    margin: auto 0;
}

.kitchen-sink__color-value {
    font-family: $----font-family--secondary;
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
}

.kitchen-sink__wrapper--icons {
    column-gap: 8px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: $----breakpoint-xx-large;
    max-height: 324px;
    margin: auto;
    overflow-y: auto;
    row-gap: 8px;
    width: auto;

    @include ----breakpoint-large--below {
        grid-template-columns: repeat(2, 1fr);
    }

    @include ----breakpoint-medium--below {
        grid-template-columns: repeat(1, 1fr);
    }
}

.kitchen-sink__icon-container {
    border: 1px solid black;
    display: grid;
    grid-template-columns: auto auto;
    padding: 8px;
}

.kitchen-sink__icon-label {
    font-family: $----font-family--secondary;
    font-size: 16px;
    font-weight: bold;
    margin: auto 0;

    @include ----breakpoint-small--below {
        font-size: 14px;
        line-height: 24px;
    }
}

.kitchen-sink__icon {
    line-height: 24px;
    text-align: end;
    padding: 8px;
}

.kitchen-sink__wrapper--routes {
    column-gap: 8px;
    row-gap: 8px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    max-height: 324px;
    max-width: $----breakpoint-xx-large;
    overflow-y: auto;
    row-gap: 8px;
    width: auto;
}

.kitchen-sink__route-container {
    border: 1px solid black;
    display: grid;
    font-family: $----font-family--secondary;
    font-weight: bold;
    grid-auto-columns: auto;
    padding: 8px;
}

.kitchen-sink__typography-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;

    @include ----breakpoint-medium--below {
        grid-template-columns: 1fr;
    }
}

.kitchen-sink__typography-container {
    display: grid;
    font-family: $----font-family--secondary;
    grid-template-columns: 1fr;
    margin-bottom: 8px;
    padding: 8px;
}

.kitchen-sink__typography-heading {
    font-weight: bold;
    height: min-content;
    line-height: 3rem;
    margin: auto 0 0 0;
}

.kitchen-sink__typography-body {
    height: min-content;
    line-height: 3rem;
    margin: auto 0 0 0;
}

.kitchen-sink__typography-h1 {

    &--primary {
        font-family: $----font-family--primary;
        font-size: $----font-size--h1;
    }

    &--secondary {
        font-family: $----font-family--secondary;
        font-size: $----font-size--h1;
    }

}

.kitchen-sink__typography-h2 {

    &--primary {
        font-family: $----font-family--primary;
        font-size: $----font-size--h2;
    }

    &--secondary {
        font-family: $----font-family--secondary;
        font-size: $----font-size--h2;
    }

}

.kitchen-sink__typography-h3 {

    &--primary {
        font-family: $----font-family--primary;
        font-size: $----font-size--h3;
    }

    &--secondary {
        font-family: $----font-family--secondary;
        font-size: $----font-size--h3;
    }

}

.kitchen-sink__typography-h4 {

    &--primary {
        font-family: $----font-family--primary;
        font-size: $----font-size--h4;
    }

    &--secondary {
        font-family: $----font-family--secondary;
        font-size: $----font-size--h4;
    }

}

.kitchen-sink__typography-h5 {

    &--primary {
        font-family: $----font-family--primary;
        font-size: $----font-size--h5;
    }

    &--secondary {
        font-family: $----font-family--secondary;
        font-size: $----font-size--h5;
    }

}

.kitchen-sink__typography-h6 {

    &--primary {
        font-family: $----font-family--primary;
        font-size: $----font-size--h6;
    }

    &--secondary {
        font-family: $----font-family--secondary;
        font-size: $----font-size--h6;
    }

}

.kitchen-sink__typography-p {

    &--primary {
        font-family: $----font-family--primary;
        font-size: $----font-size--root;
    }

    &--secondary {
        font-family: $----font-family--secondary;
        font-size: $----font-size--root;
    }

}

.kitchen-sink__typography-root {

    &--primary {
        font-family: $----font-family--primary;
        font-size: $----font-size--root;
    }

    &--secondary {
        font-family: $----font-family--secondary;
        font-size: $----font-size--root;
    }

}

.kitchen-sink__typography-font-family {
    border-left: 2px dashed black;
    color: $----color--primary;
    font-family: $----font-family--primary;
    font-size: $----font-size--h6;
    font-weight: bold;
    margin-bottom: 16px;
    margin-right: 24px;
    padding: 8px;
    text-align: center;
    text-orientation: sideways-right;
    transform: scale3d(-1, -1, 1);
    user-select: none;
    writing-mode: vertical-rl;

    @include ----breakpoint-medium--below {
        margin: 0;
        border-left: none;
        border-bottom: 2px dashed black;
        border-top: 2px dashed black;
        text-align: left;
        text-orientation: unset;
        transform: none;
        user-select: none;
        writing-mode: unset;
    }

    &--primary {
        font-family: $----font-family--primary;
    }

    &--secondary {
        font-family: $----font-family--secondary;
    }

}